.venv
.git
.ruff_cache
.mypy_cache
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.env
.env.*
!.env.example
node_modules
db.sqlite3
*~
static_root/
static/js/
static/css/
static/manifest.json
static/images/
